@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(0deg, rgba(239,237,214,1) 0%, rgba(168,166,135,1) 100%);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  margin: 10px;
}

.box {
  background-color: rgb(136, 30, 30);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.box img {
  max-width:100%;
  max-height:100%;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 45px;
}

.bg {
  background: no-repeat center center/cover;
}

.loading-text {
  width: 100%;
  height: 15px;
  text-align: center;
  font-size: 450px;
  color: black;
  z-index: 1;
}

#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 8px;
  background: linear-gradient(to right, #5f84ff, #ffd271);
  width: 0%;
  z-index: 100;
  transition: width 0.2s ease-out;
}